:root {
    --main-color: #83021e;
}
html, body {
    height: 100%;
    margin: 0;
}
.full-height {
    height: 100%;
}
.toolbars {
    border-right: 1px solid #bbb;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.toolbars ul {
    list-style: none;
    padding-left: 0;
}
.toolbars ul li {
    margin-bottom: 20px;
}
.small-logo {
    width: 90%;
}
.bi-list {
    font-size: 30px;
}
footer {
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #83021e;
    color: #fff;
    font-weight: bold;
}

.icon-bar ul {
    list-style: none;
    padding: 0;
}
.icon-bar ul li {
    padding: 15px;
}
/* */