*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    background-color: #464646;
    height: 1px;
    border: none;
}
#navbar{
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-bars{
    /*margin-left: 2rem;*/
    font-size: 2rem;
    color: #fff;
}
#nav-menu{
    background-color: #212121;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
#nav-menu.active{
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}
.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-left: 1rem;
}
.nav-text:hover{
    background-color: rgba(144, 144, 144, 0.219);
    cursor: pointer;
}
.nav-menu-items{
    width: 100%;
}
.nav-icon{
    padding-right: 1rem;
    color: #909090;
}
#home{
    color: #bbb;
    padding-right: 0.2rem;
}
#navbar-toggle{
    background-color: #212121;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
#navbar-toggle h1{
    color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#navbar-toggle a{
    text-decoration: none;
}
.fa-bars{
    color: #f5f5f5;
    
}
.nav-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
:root {
    --main-color: #83021e;
}
html, body {
    height: 100%;
    margin: 0;
}
.full-height {
    height: 100%;
}
.toolbars {
    border-right: 1px solid #bbb;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.toolbars ul {
    list-style: none;
    padding-left: 0;
}
.toolbars ul li {
    margin-bottom: 20px;
}
.small-logo {
    width: 90%;
}
.bi-list {
    font-size: 30px;
    color: #212121;
}
footer {
    text-align: center;
    background-color: var(--main-color);
    color: #fff;
}
.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #83021e;
    color: #fff;
    font-weight: bold;
}

.icon-bar ul {
    list-style: none;
    padding: 0;
}
.icon-bar ul li {
    padding: 15px;
}